[package]
name = "rose"
version = "0.1.0"
authors = ["Adrian Pistol <vifino@tty.sh>"]

[dependencies]
mem = { git = "https://github.com/vifino/rust-mem.git" }
byteorder = "1.0.0"
log = "0.3"
error-chain="0.10.0"
clap = "2"

[[bin]]
name = "zpu"
path = "src/bin/zpu.rs"

[profile.release]
lto = true
